* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	list-style: none;
	user-select: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

#app {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 300px;
	margin: 70px 25px;
	display: flex;
	margin-bottom: 0;
	flex-direction: column;
}

.chat-window {
	width: 100%;
}

.chat-messages {
	width: 300px;
	overflow: hidden;
	max-height: 240px;
	position: relative;
}

.chat-input {
	position: relative;
	width: 100%;
	height: 30px;
	display: flex;
	padding-left: 10px;
	align-items: center;
	flex-direction: column;

	background: linear-gradient(92.08deg, rgba(19, 19, 19, 0.41) 1.62%, rgba(36, 36, 67, 0) 92.03%);
	border-radius: 3px;
}

.chat-input .icon {
	position: absolute;
	top: 50%;
	left: 10px;
	height: 10px;
	display: flex;
	color: #ffff;
	font-size: 10.5px;
	border-radius: 5px;
	align-items: center;
	justify-content: center;
	transform: translate(0, -50%);
}

textarea {
	position: relative;
	left: 0px;
	width: 250px;
	color: #ffffff;
	overflow: hidden;
	padding-top: 7px;
	white-space: nowrap;
	background-color: transparent;
}

textarea::placeholder {
	color: white;
}

textarea:focus,
input:focus {
	outline: none;
}

.msg {
	position: relative;
	float: left;
	color: #fff;
	padding: 5px;
	width: 100%;
	font-size: 10.5px;
	line-height: 15px;
	/* margin-right: 50px; */
	margin-bottom: 5px;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 600;
	padding-left: 0px;
    border: 1px solid rgba(255, 255, 255, 0.15);
	display: flex;
	text-shadow: 0px 0px 20px #0000003d;
	background-color: #ffffff12;
	
}

.msg span {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.msg p:nth-child(1) {
	margin-left: 0px !important;
}

.msg p {
	font-weight: 600;
	margin-left: 5px;
}

.msg b {
	font-size: 10.5px;
	text-transform: uppercase;
}

.suggestions-wrap {
	position: relative;
	top: 0px;
	left: -5px;
	width: 300px;
	display: flex;
	margin-top: 10px;
	flex-direction: column;
}

.suggestion {
	position: relative;
	width: 100%;
	color: #fff;
	display: flex;
	padding: 10px;
	font-size: 10.5px;
	background-color: #ffffff12;
	font-weight: 600;
	margin-top: 5px;
	border-radius: 5px;
	flex-direction: column;
	text-transform: uppercase;
	border: 1px solid rgba(255, 255, 255, 0.15);
}

.suggestion::before {
	content: '';
	position: absolute;
	top: 50%;
	left: -1px;
	width: 2px;
	height: 75%;
	border-radius: 30px;
	transform: translate(0,-50%);
}

.help {
	opacity: 0.5;
	font-size: 8px;
	font-weight: 300;
	letter-spacing: .5px;
	text-transform: uppercase;
}

.disabled {
	color: #01C6A0;
}

.hidden {
	display: none;
}

/*
-----------------------------------------
	CORES DO CHAT
-----------------------------------------
*/

.color-0 {
	color: #ffffff;
}

.color-1 {
	color: #ffffff;
	font-size: 14px;
}

.color-2 {
	color: #8bcb00;
}

.color-3 {
	color: #e0c117;
}

.color-4 {
	color: #ffffff;
}

.color-5 {
	color: #ff9293;
}

.color-6 {
	color: #bfd863;
}

.color-7 {
	color: #9ecdeb;
}

.color-8 {
	color: #01C6A0;
}